#!/bin/sh

# PROVIDE: pgx_export
# REQUIRE: LOGIN
# KEYWORD: shutdown
#
# rc-script for pgx_export
#
#
# Add the following lines to /etc/rc.conf.local or /etc/rc.conf
# to enable this service:
#
# pgx_exporter_enable (bool):          Set to NO by default.
#               Set it to YES to enable pgx_export.
# pgx_exporter_user (string):          Set user that pgx_export will run under
#               Default is "nobody".
# pgx_export_group (string):         Set group that pgx_export will run under
#               Default is "nobody".
# pgx_export_args (string):          Set extra arguments to pass to pgx_export
#               Default is "".
# pgx_export_listen_address (string):Set ip:port to listen on for web interface and telemetry.
#		Defaults to ":9187"
# pgx_export_pg_user (string):	    Set the Postgres database user
#		Defaults to "pgx_export"
# pgx_export_pg_pass (string):	    Set the Postgres datase password
#		Default is empty
# pgx_export_pg_host (string):	    Set the Postgres database server
#		Defaults to "localhost"
# pgx_export_pg_port (string):  	    Set the Postgres database port
#		Defaults to "5432"

# Add extra arguments via "pgx_exporter_args" which could be choosen from:
# (see $ pgx_export --help)
#
#  -dumpmaps
#    	Do not run, simply dump the maps.
#  -extend.query-path string
#    	Path to custom queries to run.
#  -log.level value
#    	Only log messages with the given severity or above. Valid levels: [debug, info, warn, error, fatal].
#  -version
#    	print version and exit
#  -web.telemetry-path string
#    	Path under which to expose metrics. (default "/metrics")
#  -log.format value
#    	If set use a syslog logger or JSON logging. Example: logger:syslog?appname=bob&local=7 or logger:stdout?json=true. Defaults to stderr.
#  -extend.query-path string
#    	Path to custom queries to run.


. /etc/rc.subr

name=pgx_exporter
rcvar=pgx_export_enable

load_rc_config $name

: ${pgx_export_enable:="NO"}
: ${pgx_export_user:="nobody"}
: ${pgx_export_group:="nobody"}
: ${pgx_export_args:=""}
: ${pgx_export_listen_address:=":9187"}
: ${pgx_export_pg_user:="pgx_export"}
: ${pgx_export_pg_pass:=""}
: ${pgx_export_pg_host:="localhost"}
: ${pgx_export_pg_port:="5432"}

pgx_export_data_source_name="postgresql://${pgx_export_pg_user}:${pgx_export_pg_pass}@${pgx_export_pg_host}:${pgx_export_pg_port}/postgres?sslmode=disable"


pidfile=/var/run/pgx_export.pid
command="/usr/sbin/daemon"
procname="/usr/local/bin/pgx_export"
command_args="-p ${pidfile} /usr/bin/env DATA_SOURCE_NAME="${pgx_export_data_source_name}" ${procname} \
    -web.listen-address=${pgx_export_listen_address} \
    ${pgx_export_args}"

start_precmd=pgx_export_startprecmd

pgx_export_startprecmd()
{
    if [ ! -e ${pidfile} ]; then
        install -o ${pgx_export_user} -g ${pgx_export_group} /dev/null ${pidfile};
    fi
}

load_rc_config $name
run_rc_command "$1"

